@using MockProject.WebApp.ModelAPI
@model AdminModel
<div class="container-fluid g-0">
    <div class="row">
        <div class="col-lg-12 p-0 ">
            <div class="header_iner d-flex justify-content-between align-items-center">
                <div class="sidebar_icon d-lg-none">
                    <i class="ti-menu"></i>
                </div>
                <div class="line_icon open_miniSide d-none d-lg-block">
                    <img src="/assets/image/admin_base/line_img.png" alt="">
                </div>
                <div class="serach_field-area d-flex align-items-center">
                    @*                            <div class="search_inner">
                    <form action="#">
                    <div class="search_field">
                    <input type="text" placeholder="Search">
                    </div>
                    <button type="submit"> <img src="/assets/image/admin_base/icon/icon_search.svg" alt=""> </button>
                    </form>
                    </div>*@
                </div>
                <div class="header_right d-flex justify-content-between align-items-center">
                    <div class="header_notification_warp d-flex align-items-center">
                        <li>
                            <a class="bell_notification_clicker" href="#">
                                <img src="/assets/image/admin_base/icon/bell.svg" alt="">
                                <span>0</span>
                            </a>

                            <div class="Menu_NOtification_Wrap">
                                <div class="notification_Header">
                                    <h4>Notifications</h4>
                                </div>
                                <div class="Notification_body">
                                    <div class="single_notify d-flex align-items-center justify-content-center">
                                        <div class="notify_content">
                                            <a href="#">
                                                <h5>You have no Notification!</h5>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nofity_footer">
                                    <div class="submit_button text-center pt_20">
                                        <a href="#" class="btn_1 btn_read_all">Mark as read all</a>
                                    </div>
                                </div>
                            </div>

                        </li>
                        @*                                <li>
                        <a class="CHATBOX_open" href="#"> <img src="/assets/image/admin_base/icon/msg.svg" alt=""> <span>2</span> </a>
                        </li>*@
                    </div>
                    <div class="profile_info">
                        <img src="/assets/image/profileImg/@Model.Avatar" alt="#">
                        <div class="profile_info_iner">
                            <div class="profile_author_name">
                                <p>@Model.Role_Name</p>
                                <h5>@Model.FullName</h5>
                            </div>
                            <div class="profile_info_details">
                                <a href="@Url.Action("Profile","Admin")">My Profile </a>
                                @* <a href="#">Settings</a>*@
                                <a href="@Url.Action("Logout","Admin")">Log Out </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>