@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>Reset Your Password</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- External CSS libraries -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
    <link rel="stylesheet" href="/assets/css/client_base/login-flaticon.css">

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700;800;900&amp;display=swap" rel="stylesheet">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/assets/css/client_base/login-custom.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">

    <style>
        .progress {
            transform: translateY(4px);
            width: 100%;
        }

        /* #E87E04 #EFBF17 #42A72A*/
        .progress-bar-success {
            background-color: #42A72A;
        }

        .progress-bar-info {
            background-color: #EFBF17;
        }

        .progress-bar-warning {
            background-color: #E87E04;
        }

        .progress-bar-danger {
            background-color: #EC644B;
        }

        .login-23 .login-inner-form .form-box i {
            top: 0;
        }

        .password-score {
            margin-top: 8px;
        }

        #password-recommendation-heading {
            text-align: unset !important;
        }

        .error-item {
            padding: 2px 20px 2px 0;
        }

            .error-item:first-child {
                padding-top: 8px;
            }

            .error-item:last-child {
                padding-bottom: 8px;
            }
    </style>
</head>
<body id="top">
    <div class="page_loader"></div>

    <!-- Login 23 start -->
    <div class="login-23">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 bg-color-23">
                    <div class="form-section">
                        <div class="logo">
                            <a asp-controller="Home" asp-action="Index">
                                <img style="height: 80px;" src="https://ihome-solution.com.sg/wp-content/uploads/2017/05/ihome-favicon.png" alt="logo">
                            </a>
                        </div>
                        <h3>Reset Your Password</h3>
                        <div class="login-inner-form">
                            <form action="#" method="GET" id="changePassword">
                                <div class="form-group clearfix">
                                    <label for="first_field" class="form-label">New Password</label>
                                    <div class="form-box">
                                        <input name="password" style="height: 50px;" type="password" required class="form-control" id="first_field" placeholder="New Password">
                                        <i class="fa-solid fa-lock"></i>
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="seecond_field" class="form-label">Confirm Password</label>
                                    <div class="form-box">
                                        <input name="repass" style="height: 50px;" type="password" required class="form-control" id="second_field" placeholder="Confirm Password">
                                        <i class="fa-solid fa-lock"></i>
                                    </div>
                                </div>
                                <div class="form-group clearfix mb-0">
                                    <button type="submit" class="btn btn-primary btn-lg btn-theme">Reset Password</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            @*    <div class="col-xl-7 col-lg-6 col-md-12 bg-img">
                    <div class="info">
                        <div class="waviy">
                            <span style="--i:1">W</span>
                            <span style="--i:2">e</span>
                            <span style="--i:3">l</span>
                            <span style="--i:4">c</span>
                            <span style="--i:5">o</span>
                            <span style="--i:6">m</span>
                            <span style="--i:7">e</span>
                            <span class="color-yellow" style="--i:8">t</span>
                            <span class="color-yellow" style="--i:9">o</span>

                            <span style="--i:10">I</span>
                            <span style="--i:11">H</span>
                            <span style="--i:12">O</span>
                            <span style="--i:13">M</span>
                            <span style="--i:14">E</span>
                        </div>
                        <p>Our mission is to be one of the best air-con company in Singapore, by providing 100% prompt professional service and customer satisfaction through 100% quality installations.</p>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
    <!-- Login 23 end -->
    <!-- External JS libraries -->
    @*<script src="/assets/js/client_base/login-main.js"></script> <!-- custom place -->*@
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    @*<script src="/assets/js/client_base/defaul-validate-login.js"></script> <!-- custom place -->*@
    <!--Password strength-->
    <script src="/assets/js/client_base/password-strength.js"></script>
    <!-- Custom JS Script -->
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
    <script>
        @{
            string baseAPI = ViewBag.BaseAPI;
            string email = ViewBag.Email;
            string token = ViewBag.Token;

        }
        var BaseAPI = '@baseAPI';
        var email = '@email';
        var token = '@token';



        async function postData(url = '', data) {
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            });
            return response.json();
        }
        $('#first_field').passwordStrength();
        //Form submit
        $("#changePassword").on("submit", function(e) {
            e.preventDefault();
            // Password Score
            var score = $('#password-strength-score').val();
            if (score > 60) {
                //Create data body
                let data = {
                    token: token,
                    email: email,
                    newPassword: $('#first_field').val(),
                    confirmPassword: $('#second_field').val()
                }
                // Fetch Post data
                postData(BaseAPI + "api/Account/resetpassword", data).then(res => {
                    if (res?.errors != null) {
                        new Notyf({
                            position: { x: 'right', y: 'top' },
                            duration: 3000
                        }).error(Object.values(res?.errors)[0].join(""));

                    } else
                    if (res?.success == false) {
                         new Notyf({
                            position: { x: 'right', y: 'top' },
                            duration: 3000
                        }).error(res.message);
                    }else
                    {
                         new Notyf({
                            position: { x: 'right', y: 'top' },
                            duration: 3000
                        }).success("Change Password Successfully!");
                        setTimeout(function() {
                            window.location = "@Url.Action("Login","User")"
                        }, 3000)
                    }
                });
            }
            else {
                new Notyf({
                    position: { x: 'right', y: 'top' },
                    duration: 3000
                }).error("You new Password is not strong enough!");
            }
            //emailElement.prop('disabled', true);
            //button.prop('disabled', true);
            //$(".spinner-border").removeClass("d-none");
            //=============================
            //let email = emailElement.val();
            //setTimeout(function() {
            //    emailElement.prop('disabled', false);
            //    $(".spinner-border").addClass("d-none");
            //    button.prop('disabled', false);
            //}, 5000);

            //console.log(email);
            //postData("https:localhost:7235/api/Account/resendconfirm" + `?email=${email}`)
            //    .then(function(res) {
            //        if (res?.success == false) {
            //            new Notyf({
            //                position: { x: 'right', y: 'top' },
            //                duration: 3000
            //            }).error(res.message)
            //        }
            //        if (res?.success == true) {
            //            new Notyf({
            //                position: { x: 'right', y: 'top' },
            //                duration: 3000
            //            }).success("Confirmation Email has been sent. Please check your inbox!");
            //        }
            //    });

        })
    </script>
</body>

</html>
